@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

#app{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	font-family: 'Ubuntu', sans-serif;
	height: 90%;
	width: 100%;
	max-width: 800px;
	overflow: auto;
}

body{
	overflow-x: hidden;
	overflow-y: auto;
}

input{
	width: 100%;
	outline: none;
	border: none;
	padding: 5px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
}

#app .message{
	display: block;
	width: 100%;
	position: relative;
}

#app .message span{
	float: left;
}

form{
	position: fixed;
	bottom: 0px;
	max-width: 800px;
	width: 100%;
	height: 50px;
}